@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color:white;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  width: 100vw;
}

.header {
  height: 6vh;
  display: flex;
  justify-content: center;
  background-color: #000; /* Black background */
  color: white;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.header__menu li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__menu li:hover {
  color: #ccc;
}

.header__options {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.header__options li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__options li:hover {
  color: #ccc;
}

.header__signup {
  background-color: white;
  margin: 0 25px;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__signup:hover {
  background-color: #ccc;
  color: black;
}
